body {
    font-size: 70.5%;
}

#new-chart-config-container {
    display: none;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    padding: 20px 0;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

input.ui-combobox-default{
    color: gray;
}
    
